<div class="container">
    <div class="well">
      <legend><%= title "Registracija sėkminga" %></legend>
      <p>
        Kelių minučių bėgyje adresu <code><%= @specialist.user.email %></code> gausite instrukcijas,
        kaip patvirtinti paskyros registraciją. Tą galite padaryti per 2 dienas.
      </p>
      <p>
        Jau dabar galite save surasti <%= link_to "paieškoje", search_path %>. Sėkmės!
      </p>
    </div>
</div>
