<div class="container">
  <h1>Specialisto registracija</h1>
    <div class="well">
      <h3>Registracija sėkminga</h3>
      <p>
        Pasitikrinkite el. paštą (<%= @specialist.user.email %>), ten rasite instrukcijas,
        kaip patvirtinti jūsų registraciją. Tą galite padaryti per 2 dienas.
      </p>
      <p>
        O dabar galite pradėti naudotis sistema.
      </p>
    </div>
</div>
