<div class="container">
  <h1>Specialisto registracija</h1>
  <div class="row">
    <div class="hero-unit">
      <h1>Registracija baigta</h1>
      <p>
        Pasitikrinkite el. paštą (<%= @specialist.user.email %>), ten rasite instrukcijas,
        kaip patvirtinti jūsų registraciją. Tą galite padaryti per 2 dienas.
      </p>
      <p>
        O dabar galite <%= link_to "prisijungti", user_session_path %>.
      </p>
    </div>
  </div>
</div>
