<div class="container">
  <h1>Specialisto profilis</h1>
  <div class="row">
    <div class="span7">
      <%= form_for @specialist, html: {class: "form-horizontal well"}, url: edit_specialist_path do |f| %>
        <%= render "shared/form_errors", object: @specialist, f: f %>
        <%= render partial: "edit", locals: {specialist: @specialist, f: f} %>

        <div class="form-actions">
          <%= submit_tag "Išsaugoti", class: "btn btn-success btn-large" %>
        </div>
      <% end %>
    </div>
    <div class="span5">
      trototo
    </div>

  </div>
</div>

