<div class="welcome-jumbotron">
  <div class="container">
      <h1>Patikimi statybininkai be tarpininkų</h1>
      <p class="magic-well">
        <%= link_to new_specialist_path, class: "btn btn-success btn-hero" do %>
            <i class="icon-plus"></i> Registruok savo paslaugas
        <% end %>
        <a class="btn btn-primary btn-hero"><i class="icon-search"></i> Rask darbininką</a>
      </p>
  </div>
</div>
<div class="container">
<div class="row">
    <div class="span4">
      <h2><i class="icon-wrench"></i> &nbsp;Skirta statyboms</h2>
      <p> Sistema skirta rasti ir išsirinkti tinkamos specializacijos darbininkus reikalingose apylinkėse. Tai itin patogu, jei statote namą, remontuojate stogą ar įsirenginėjate butą.</p>
    </div>
  <div class="span4">
    <h2><i class="icon-star"></i> &nbsp;Paremta reputacija</h2>
    <p>
      Ši sistema skirta tik sažiningiems darbininkams ir užsakovams. Čia netoleruojamas sukčiavimas.
    </p>
  </div>
  <div class="span4">
    <h2><i class="icon-phone"></i> &nbsp;Tarkitės tiesiogiai</h2>
    <p>
      Raskite darbininkus, o ne tarpininkus. Nemokėkite už darbus nežinodami, kas juos atliks.
    </p>
  </div>
</div>
</div>

