<div class="container">
  <h1>Darbininko Registracija</h1>
  <div class="row">
    <div class="span7">
      <form class="form-horizontal">
        <legend>Atliekami darbai</legend>
        <label>Pagrindinė specializacija</label>
        <input type="text" placeholder="Type something…"> <span class="help-block">Example block-level help text here.</span>

        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
    <div class="span5">
      trototo
    </div>

  </div>
</div>
