<div class="container">
  <div class="row">
    <div class="span12">
      <div class="text-blob">
        <legend>
          Radai.lt <%= title "Naudojimosi Taisyklės" %>
        </legend>
      <header class="sub">
        Bendra informacija
      </header><ol class="policy"><li>Naudodamiesi radai.lt puslapiu jūs suprantate ir sutinkate laikytis šių Taisyklių. Jei jūs nesutinkate laikytis Taisyklių, tuomet negalite naudotis mūsų puslapiu. Registruodamiesi jūs varnele pažymite, kad su Taisyklėmis susipažinote ir sutinkate jų laikytis.
      </li></ol><header class="sub">
        Naudojamos sąvokos
      </header><ol class="policy"><li>Taisyklės – šios Taisyklės, kurios nustato radai.lt puslapio naudojimosi sąlygas.

      </li><li>Vartotojas – tai esate jūs, asmuo, kuris sukuria savo paskyrą radai.lt puslapyje, naudojasi jo funkcionalumu.

      </li><li>Turinys – tai bet kokia informacija, kuri gali būti patalpinta radai.lt puslapyje. Tai apima, bet neapsiriboja: asmeninė informacija, Paslaugų/Poreikių aprašymas, nuotraukos, paveikslėliai, atsiliepimai, vertinimai, elektroninio pašto pranešimai ir kt.

      </li><li>Paskyra – registruojantis radai.lt puslapyje Vartotojui yra sukuriama paskyra, kurios profilyje Vartotojas nurodo savo asmeninius duomenis, reikalingus registracijai radai.lt, tai yra: vardas, pavardė, elektroninis paštas, telefono numeris, nuotrauka, gyvenamoji vieta.
      </li></ol><header class="sub">
        Galiojanti teisė
      </header><ol class="policy"><li>Taisyklėms galioja Lietuvos Respublikos teisės aktai.

      </li><li>Jei Taisyklių nuostata, ar jos dalis, ar kelios nuostatos prieštarauja imperatyvioms įstatymo normoms, tai negali būti vertinama, kad negalioja visos Taisyklės.

      </li><li>Visi kilę ginčai susiję su Taisyklėmis sprendžiami įstatymų numatyta tvarka.
      </li></ol><header class="sub">
        Informacijos patikimumas
      </header><ol class="policy"><li>Mes stengiamės užtikrinti, kad pateikiama informacija, turinys būtų patikimi teisingi ir teisėti, tačiau negarantuojame, kad visa informacija, turinys tokie yra, todėl nesame atsakingi už pateikiamą turinį, galimas klaidas jame ir iš to kylančius nuostolius ar žalą. Naudodamasis puslapiu Vartotojas supranta, kad visa rizika, kylanti naudojantis, talpinant turinį yra Vartotojo atsakomybė, net jei turinys buvo patalpintas radai.lt administratoriaus.

      </li><li>Naudodamiesi mūsų puslapiu jūs suprantate ir sutinkate, kad radai.lt nėra nei atstovas, nei tarpininkas, taip pat nedalyvauja jokiuose sandoriuose tarp jūsų ir Trečiojo asmens ar kito Vartotojo, todėl nėra atsakingas už bet kokius iš to kylančius padarinius. Bet kokia radai.lt puslapyje esanti informacija negali būti laikoma radai.lt pasiūlymu sudaryti sandorį.

      </li><li>Vartotojas sutinka, kad jo atsakomybė yra pasirinkti tinkamą Paslaugos/Poreikio atlikėją, susitarti dėl visų sąlygų ir atlikti tai, kas sutarta, o radai.lt nėra susijęs su Trečiojo asmens ir Vartotojo santykiais, juose nedalyvauja ir nėra atsakingas už bet kokius padarinius, atsiradusius atliekant Paslaugas/Poreikius. Radai.lt pataria prieš naudojantis Paslaugomis/Poreikiais patikrinti Vartotojo patikimumą, vienas iš būdų perskaityti atsiliepimus, paliktus apie Paslaugos/Poreikio tiekėją.

      </li><li>Patariame būti atsargiais ir prieš naudodamiesi Vartotojų Paslaugomis/Poreikiais patikrinti jų patikimumą. Mūsų puslapyje galite rasti atsiliepimus iš asmenų, kurie naudojosi Paslaugomis/Poreikiais, taip pat galite susisiekti su dominančiu Vartotoju ir paprašyti jo pateikti garantijas, ar kitokį patvirtinimo dokumentą.

      </li><li>Jei jums kilo problemų, patyrėte nuostolius ar žalą, kurios nėra susijusios su tiesioginiu puslapio naudojimusi, radai.lt nėra už tai atsakingas.
      </li></ol><header class="sub">
        Turinys
      </header><ol class="policy"><li>Naudodamiesi puslapiu jūs sutinkate, kad naudojate jį tik teisėtais tikslais ir nepažeisdami kitų asmenų teisių. Bet koks naudojamas turinys turi būti teisėtas, teisingas, deramo pobūdžio, neišgalvotas, neįžeidžiantis.

      </li><li>Jūs suprantate, kad esate atsakingas už visą informaciją, kurią pateikiate radai.lt puslapyje. Jūs esate atsakingas už bet kokį pateiktą turinį radai.lt puslapyje, kurį parašėte, įkėlėte naudodamiesi radai.lt puslapiu ir jo teikiamais įrankiais. Radai.lt nekontroliuoja pateikiamo turinio, netikrina jo patikimumo, tikslumo, autentiškumo, visa atsakomybė tenka Vartotojui.

      </li><li>Jeigu mūsų puslapyje yra naudojamos nuorodos į kitus puslapius, už jų turinio patikimumą, tikrumą atsakote jūs. Radai.lt negarantuoja tų internetinių puslapių patikimumo ir neatsako už juose pateiktą turinį ir iš to kilusius nuostolius ar žalą. Rekomenduojame neiti į abejotinos reputacijos internetinius puslapius ir nepasitikėti juose pateiktu turiniu.

      </li><li>Jūs sutinkate, kad įkeldami nuorodas į internetinius puslapius turite įvertinti šių internetinių puslapių tikrumą ir patikimumą, tai yra jūsų atsakomybė. Jūs sutinkate, kad bet koks turinys, kuris tapo prieinamas per radai.lt puslapį ar naudojantis mūsų puslapio suteiktais įrankiais, yra jūsų atsakomybė ir radai.lt nėra ir nebus atsakinga už bet kokius atsiradusius nuostolius ar žalą.

      </li><li>Paslaugų/Poreikių tiekėjų pozicija puslapyje nepriklauso radai.lt simpatijų ar antipatijų. Tikimės, kad kitų Vartotojų palikti atsiliepimai padės apsispręsti su kuo bendradarbiausite.

      </li><li>Radai.lt turi teisę (bet ne pareigą) peržiūrėti jūsų pateikiamą turinį ir jį atmesti, pašalinti, ištrinti, siejant su tuo, kad turinys neatitinka šiose Taisyklėse numatytų tikslų ir prieštarauja galiojančiai teisei.
      </li></ol><header class="sub">
        Intelektinė nuosavybė
      </header><ol class="policy"><li>Visos intelektinės nuosavybės teisės susijusios su radai.lt puslapiu priklauso radai.lt. Naudodamiesi puslapiu jūs sutinkate, kad nekopijuosite ir nenaudosite radai.lt priklausančios intelektinės nuosavybės be radai.lt sutikimo.

      </li><li>Jūs sutinkate, kad jūsų parašyto, įkelto turinio intelektinės nuosavybės teisės priklauso intelektinės nuosavybės teisės turėtojui ir yra tik Jūsų rizika ir visiška atsakomybė šias teises pažeidus. Pateikdami turinį, jūs sutinkate, kad radai.lt šį turinį naudotų.
      </li></ol><header class="sub">
        Sandoriai
      </header><ol class="policy"><li>Radai.lt neinicijuoja, nedalyvauja ir nedaro jokios kitos įtakos sandoriams sudarytiems tarp Vartotojų, įskaitant ir Trečiąsias šalis. Bet kokios sutartys sudarytos tarp Vartotojų ir (ar) Trečiųjų asmenų, bet kokios ten esančios sąlygos yra griežtai tik tarp tų asmenų, kurie sutartį sudarė, todėl šie sandoriai negali sukurti ir nesukuria jokių teisių ir pareigų radai.lt.

      </li><li>Jūs sutinkate, kad visi nesutarimai kilę tarp Jūsų ir kitų Vartotojų ar tarp Jūsų ir Trečiųjų asmenų yra sprendžiami neįtraukiant radai.lt į kilusį ginčą. Jūs sutinkate, kad esate atsakingas už bet kokius atsiradusius nuostolius ar žalą, o radai.lt neįgyja jokių pareigų kilusiame konflikte.

      </li><li>Kilus nesutarimams tarp Jūsų ir kitų Vartotojų, jūs sutinkate, kad radai.lt nebus pateikta jokių pretenzijų ar reikalavimų, kurios bet kokiu būdu galėtų būti susijusios su radai.lt veikla.
      </li></ol><header class="sub">
        Atsiliepimai
      </header><ol class="policy"><li>Jūs sutinkate, kad asmenys, su jumis susisiekę per radai.lt puslapį, paliktų atsiliepimą apie jus, jūsų atliktą paslaugą, jei paslauga buvo atlikta.

      </li><li>Jūs sutinkate, kad radai.lt nėra atsakingas už atsiliepimo turinį ir jame pateiktą vertinimą, taip pat radai.lt nėra atsakingas už pasekmes, atsiradusias dėl atsiliepimo turinio.

      </li><li>Atsiliepimo autorius yra visiškai atsakingas už savo atsiliepimą, jo turinį, vertinimą. Esant tam tikroms aplinkybėms atsiliepimas gali būti pašalintas iš radai.lt puslapio.

      </li><li>Jūs suprantate, kad visi atsiliepimai turi būti objektyvūs, teisingi, pagrįsti, neįžeidžiantys kitų asmenų, taip pat nepažeidžiantys kitų asmenų teisių ir teisėtų reikalavimų. Neatitinkantys šių kriterijų atsiliepimai bus ištrinti iš radai.lt puslapio.
      </li></ol><header class="sub">
        Apribojimai
      </header><ol class="policy"><li>Jūs suprantate, kad mes galime taikyti įvairius apribojimus radai.lt puslapyje. Tai apima (tačiau neapsiriboja): teksto simbolių skaičiaus ribojimas Paslaugų/Poreikių aprašyme, elektroninio pašto pranešimuose, atsiliepimuose, ar bet kokiame kitame turinyje, taip pat keliamų nuotraukų, paveikslėlių dydžio ir formato ribojimas.

      </li><li>Jūs sutinkate, kad radai.lt nėra atsakingas už bet kokio turinio pašalinimą ir ištrynimą, nepavykusį bandymą įdėti turinį į radai.lt puslapį.

      </li><li>Jūs sutinkate, kad radai.lt turi teisę bet kada pakeisti ar nutraukti šio puslapio veiklą be išankstinio pranešimo, o radai.lt nėra jokia prasme atsakinga Jums už atsiradusius pakeitimus, sutrukdymus, keičiant radai.lt veiklą ar ją nutraukiant.

      </li><li>Radai.lt nėra atsakinga jokiems Tretiesiems asmenims už bet kokius puslapio pakeitimus ir dėl to atsiradusias pasekmes.

      </li><li>Jūs sutinkate, kad radai.lt nebus atsakinga už bet kokius nuostolius ar žalą, atsiradusius naudojantis šiuo puslapiu.
      </li></ol><header class="sub">
        Santykių nutraukimas
      </header><ol class="policy"><li>Jūs sutinkate, kad radai.lt turi teisę savo nuožiūra pašalinti, ištrinti jūsų paskyrą radai.lt puslapyje, užblokuoti jūsų elektroninio pašto adresą, uždrausti jums prisijungti ir naudotis radai.lt puslapiu be išankstinio perspėjimo, taip pat pašalinti ir ištrinti bet kurią dalį turinio dėl bet kokios priežasties, kuri mūsų manymu, yra netinkama šiame puslapyje, prieštarauja mūsų vertybėms ir šioms Taisyklėms, yra neteisėti.

      </li><li>Jūs sutinkate, kad radai.lt nėra atsakingas už jūsų paskyros ištrynimą ar kitokį apribojimą. Radai.lt nėra atsakingas Tretiesiems asmenims už Vartotojų paskyrų panaikinimą radai.lt puslapyje.

      </li><li>Jei buvote pašalintas iš radai.lt, jūs sutinkate, kad nebandysite iš naujo tapti mūsų puslapio Vartotoju.
      </li></ol><header class="sub">
        Taisyklių pakeitimai
      </header><ol class="policy"><li>Dėl besikeičiančių aplinkybių ir tobulėjančio puslapio funkcionalumo pasiliekame teisę šias Taisykles keisti ir papildyti be išankstinio pranešimo Vartotojui. Vartotojas supranta, kad jo atsakomybė yra šias Taisykles perskaityti ir susipažinti su atnaujinimais ir pakeitimais.

      </li><li>Atsiradus esminiams Taisyklių pokyčiams Vartotojai bus informuoti apie Taisyklių pakeitimus  puslapio elektroniniu paštu.
      </li></ol><div class="field">
        2011 m. gruodis
      </div></div>

    </div>
  </div>
</div>
