<div class="container">
  <div class="row">
    <div class="span12">
      <div class="text-blob">
        <legend>Radai.lt <%= title "Privatumo Politika" %></legend>
      <ol class="policy"><li>Radai.lt rūpinasi Vartotojų duomenų apsauga, todėl stengiasi užtikrinti, jog jų privatumas būtų gerbiamas lankantis mūsų puslapyje.
      </li></ol><header class="sub">
        Asmeninė informacija ir duomenų apsauga
      </header><ol class="policy"><li>Jums registruojantis radai.lt puslapyje turite nurodyti tam tikrą asmeninę informaciją: vardą, pavardę, elektroninio pašto adresą, telefono numerį, kitą svarbią informaciją. Tai reikalinga, tam, kad galėtume jus identifikuoti, užtikrinti puslapio funkcionalumą, su jumis susisiekti, taip pat kad galėtumėte prisijungti prie savo paskyros radai.lt puslapyje.

      </li><li>Registruodamiesi mūsų puslapyje jūs sutinkate, kad mes susisiektume su jumis telefonu, elektroniniu paštu, radai.lt paštu esant aktualiai informacijai susijusiai su radai.lt.

      </li><li>Mes nesidalijame, nemainome ir neparduodame jūsų kontaktinės informacijos Tretiesiems asmenims. Jūsų telefono numeris yra viešai prieinamas, jei yra pažymėtas varnele jūsų paskyroje (profilyje), kitu atveju asmenys, norintys su jumis susisiekti gali naudotis radai.lt paštu. Jūsų elektroninio pašto adresas naudojamas prisijungimui prie radai.lt, taip pat informaciniams pranešimams gauti. Informacinių pranešimų galima atsisakyti.

      </li><li>Mes gerbiame savo Vartotojų privatumą ir stengiamės sukurti saugią aplinką, tačiau negalime garantuoti, jog jūsų duomenys išliks saugūs. Jūs suprantame, kad visa rizika šiuo atveju atitenka jums, ir sutinkate, kad jūs esate atsakingi už bet kokius atsiradusius padarinius naudojantis radai.lt puslapiu.
      </li></ol><header class="sub">
        Techniniai duomenys
      </header><ol class="policy"><li>Radai.lt puslapyje renkama, kaupiama, saugoma tik tokia informacija, kurią standartiškai mums atsiunčia jūsų naudojama naršyklė. Šie duomenys saugomi ribotą laiką, yra periodiškai atnaujinami.

      </li><li>Radai.lt sistema naudoja slapukus (cookies) kaip standartinę priemonę tiklapio personalizavimui ir naršymo sesijai palaikyti.
      </li></ol><header class="sub">
        Sąlygų keitimas
      </header><ol class="policy"><li>Mes pasiliekame teisę bet kada be išankstinio sutikimo ir pranešimo keisti “Privatumo politikos” nuostatas kintant aplinkybėms ir galiojančiai teisei.
      </li></ol><div class="field">
        2011 m. gruodis
      </div></div>
    </div>
  </div>
</div>