@import 'vars.sass'
@import "compass/css3/text-shadow"
@import "compass/css3/images"
@import "compass/css3/box-shadow"

body
  background: lighten($grayLighter, 5%) !important

.noise
  margin-top: -100px
  padding-top: 100px
  background: url(image-path('shared/bg-noise.png')) repeat
  padding-bottom: 25px

footer
  padding: 20px 0 10px 0
  color: $grayLight

  border-top: 1px solid darken($grayLighter, 20%)
  +text-shadow(rgba($white, .75) 0 1px 1px)
  +single-box-shadow(rgba($gray, .1), 0, -1px, 1px, 0)

  .links
    text-align: right
    a
      color: $grayLight
      padding: 0 20px 0 0


.brand
  img
    margin: -8px 0
    position: relative
    top: -3px

legend
  color: lighten($gray, 10%) !important
  border-bottom-style: dashed !important

.form-actions
  border-top-style: dashed !important

.help-block, .help-inline
  color: lighten($gray, 15%) !important

.alert
  text-align: left !important

