<p>Sveiki, <%= @resource.email %>!</p>

<p>Patvirtinkite savo el. pašto adresą, statybos.radai.lt svetainėje,
  pasinaudodami žemiau nurodyta nuoroda.:</p>

<p><%= link_to 'Patvirtinti', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>
  Pagarbiai,<br/>
  Radai.lt komanda
</p>
