<p>Sveiki, <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>
<p>Jums buvo išsiųsta statybos.radai.lt slaptažodžio atstatymo nuoroda:</p>

<p><%= link_to 'Pakeisti savo slaptažodį', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jei slaptažodį atstatyti paprašėte ne Jūs, nekreipkite į šį laišką dėmėsio.</p>
<p>Jūsų slaptažodis nepasikeis tol, kol nenueisite aukščiau nurodyta nuoroda ir nesusikursite naujo slaptažodžio.</p>

<p>Pagarbiai,<br/>
Radai.lt komanda</p>
