<p>Sveiki, <%= @resource.email %>!</p>

<p>Dėl per didelio nesėkmingų prisjungimų skaičiaus Jūsų statybos.radai.lt paskyra buvo užblokuota.</p>

<p>Paspauskite žemiau esančią nuorodą, kad atblokuoti savo paskyrą:</p>

<p><%= link_to 'Atrakinti mano paskyrą', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>Pagarbiai,<br/>
Radai.lt komanda</p>